/* Colors used

/*Primary Color (Green):#4F9843;
Secondary Color (Black):#000000;
Third Color (Grey):#EEEEEE;
Fourh Color (Olive):#CCD4AE;
Fifth Color (Green):#004B23;
Button Bacground (Dark Grey):#675E5A;
Button Font (White):#FFFFFF;/*
========================================================================== */
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: freight-sans-pro, sans-serif;
  font-size: 20px; /*Sets the font size to 18px */
  font-weight: 400; /*Set the font weight to 400 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color:#000000;
background-color: #FFFFFF;

}

header {
  background-color: #EEEEEE;
padding: 10px;
box-shadow: 0px 3px 3px 1px rgba(50, 50, 50, 0.3);
position: fixed;
display: inline-block;
width: 100%;
}

main {
  padding-top: 133px;

}

h1,h2,h3,h4 {
  font-family: 'Bebas Neue', sans-serif;
  line-height: 1.2em;
  color:#4F9843;
}
 h1 {
   font-size: 3em;
   font-weight: 400;
   padding-top: 10px;
 }

 h2 {
   font-size: 2.5em;
   font-weight: 600;
 }

 h3 {
   font-size: 1.75em;
   font-weight: 400;
 }

 h4 {
   font-size: 1.5em;
   font-weight: 400;
 }


 img {
   width: 100%;
 }

 a {
   color: #4F9843;
   text-decoration: none; /* No underlining */
 }

 a:hover,
 a:focus {
   color: #FFFFFF;
   text-decoration: underline; /* Underlining when hovering over a link */
 }

 a:visited { /* visited link */
  color: #CCD4AE;
}

a:active { /* selected link */
  color: #FFFFFF;
}
nav {
  padding: 0 40px;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  display: inline-block;
  width: 100%;
}
nav > ul > li {
  display: inline-block;
  padding-right: 5px;
}
nav > ul > li > a {
  padding: 0 5px;
  text-transform: uppercase;
  font-weight: 400;
  color: #004B23;
  font-size: 1.2em;
  font-weight: 500;
}
nav > ul > li > a:visited, a:hover, a:active {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  Color:#004B23;
  text-decoration:none;
}
.navtoggle li:not(:last-child) {
  display: none;
}
.navtoggle, .navtoggle.responsive {
  position: relative;
}
.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
}

/* Border X get width  */
.borderXwidth li {
  position: relative;
}
.borderXwidth a:before, .borderXwidth a:after
{
    position: absolute;
    opacity: 0;
    width: 0%;
    height: 2px;
    content: '';
    background: #004B23;
    transition: all 0.3s;
}

.borderXwidth a:before
{
    left: 0px;
    top: 0px;
}

.borderXwidth a:after
{
    right: 0px;
    bottom: 0px;
}

.borderXwidth a:hover:before, .borderXwidth a:hover:after
{
    opacity: 1;
    width: 100%;
}
/*End annimation */

.button {
  display: inline-block;
  background-color: #4F9843;
  color: #ffffff;
  font-family: 'Bebas Neue', cursive;
  font-weight: 400;
  text-transform: uppercase;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #4F9843;
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
    color: #ffffff;
}
.button:visited {
  opacity: 0.3; /* Reduces the opacity of the button to 30% */
  text-decoration: none;
  color: #ffffff;
}
.button:active {
  text-decoration: none;
}
.button.contact{
  background-color: transparent;
  color: #4F9843;
  text-transform: uppercase;
  border: 2px solid #4F9843;
}
.button.contact:hover {
  background-color: #4F9843;
  color: #ffffff;
}
.logo{
  max-width: 200px;
  padding: 0px 10px;
  margin-bottom: 5px;
}
/* Layout styling */
.container {
  padding:0 10px ;
}
.text {
  padding:0 20px ;
}
.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */

}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.center {
  text-align: center;
}
.speciality {
  text-transform: uppercase;
  font-size: 0.8em;
  color:#675E5A;
  margin-bottom: 5px;
}
.intro {
  margin-top:0;
  margin-bottom: 20px;
  line-height: 1.8em;
}

#herobanner {
  background-color: #EEEEEE;
  padding: 20px 40px 0 40px;
  display: inline-block;
width: 100%;
}

#herobanner h1 {
  text-align: center; /* Centers text */
  margin: 0;
  padding: 1em 0 0 0;
}
#herobanner p {
  font-size: 1.2em;
    text-align: center; /* Centers text */
    color:#004B23;
  padding:0 0 2em 0;
}
#herobanner span {
  display: block;
}

#contact {
  background-color:#CCD4AE;
  text-align: center;
  padding:40px 0;
}

#workspace {
  display: block;
  padding-top: 40px;
}
#workspace .row {
  padding-bottom: 25px; border-bottom: 1px solid #4a4a4a; }

#workspace h2 {
  padding-bottom: 5px; border-bottom: 2px solid #4F9843;
  margin:0px;
}
#workspace h3 {
  margin-top: 0;
  margin-bottom: 20px;
}
#workspace p {
  margin-top: 0;
    margin-bottom: 20px;
}
#about-page {
    background-color: #FFFFFF;}

#about-page h3
  {margin-top:0;
  }

#workproject1 ul {
list-style-type: none;
  line-height: 1.5em;
}

#workproject1 h3 {
  padding: 0px;
  margin:0px;
}

.text h2 {
    padding-bottom: 0px;
    border-bottom: 2px solid #4F9843;
    margin:0px;
}
  [class*="col-"] {
    float: left;
    padding: 10px;
  }
  .col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@keyframes color-change {
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
}
.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}
.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}
.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}
  /* ==============================
  Medium devices (640px and larger)
  ================================= */
  @media only screen and (min-width: 640px) {

  header {
    text-align: unset;
      padding: 20px 10px 13px;
  }
  nav {
  width: auto;
  float: right;
  margin-top: 4px;
}
.logo{
  max-width: 400px;
  padding: 0px 20px;
  margin-bottom: 5px;
}
.navtoggle li:not(:last-child) {
  display: inline-block;
}
.navtoggle li:last-child {
  display: none;
}
main {
  padding-top: 99px;
}
.col-md-6 {
  width: 50%;
  float: left;
}
.col-md-4 {
  width: 33%;
  float:left;
}
.text
{max-width: 700px;
margin-left: auto;
margin-right: auto;
padding:20px;
}

.footer
{
  align-content: center;
}
}
  /* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {

  .container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.col-lg-5 {
  width: 41.66%;
  float: left;
}
.col-lg-4 {
  width: 33%;
  float:left;
}
.col-lg-7 {
  width: 58.33%;
  float:left;
}

}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {

}
