/* Colors used

/*Primary Color (Green):#4F9843;
Secondary Color (Black):#000000;
Third Color (Grey):#EEEEEE;
Fourh Color (Olive):#CCD4AE;
Button Bacground (Dark Grey):#675E5A;
Button Font (White):#FFFFFF;/*
========================================================================== */
* {
  box-sizing: border-box;
}

body {
  margin: 10px;
  font-family: freight-sans-pro, sans-serif;
  font-size: 20px; /*Sets the font size to 20px */
  font-weight: 400; /*Set the font weight to 400 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color:#000000;
}

header {
  background-color: #EEEEEE;
  text-align: center;
padding: 10px 0;
box-shadow: 0px 3px 3px 2px rgba(50, 50, 50, 0.3);
position: fixed;
display: inline-block;
width:100%;
}
main {
  padding-top: 133px;
}

h1,h2,h3,h4 {
  font-family: 'Bebas Neue', sans-serif;
  line-height: 1.2;
  color:#4F9843;
}
 h1 {
   font-size: 3em;
   font-weight: 400;
 }

 h2 {
   font-size: 2.5em;
   font-weight: 600;
 }

 h3 {
   font-size: 2em;
   font-weight: 400;
 }

 h4 {
   font-size: 1.75em;
   font-weight: 400;
 }
 img {
   width: 100%;
 }

 a {
   color: #4F9843;
   text-decoration: none; /* No underlining */
 }

 a:hover,
 a:focus {
   color: #6ED65E;
   text-decoration: underline; /* Underlining when hovering over a link */
 }

 a:visited { /* visited link */
  color: #94D955;
}

a:active { /* selected link */
  color: #3A7031;
}
nav > ul {
  list-style-type: none;
  padding: 0;
  display: inline-block;
  width: 100%;
}
nav > ul > li {
  display: inline-block;
}
nav > ul > li > a {
  padding: 0 5px;
  text-transform: uppercase;
  font-weight: 400;
  color: #4F9843;
  font-size: 1em;
}
nav > ul > li > a:visited, a:hover, a:active {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button {
  display: inline-block;
  background-color: #4F9843;
  color: #ffffff;
  font-family: 'Bebas Neue', cursive;
  font-weight: 400;
  text-transform: uppercase;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 1px solid #675E5A;
  transition: 0.2s opacity;
}
.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}
.button:visited {
  opacity: 0.3; /* Reduces the opacity of the button to 30% */
  text-decoration: none;
}
.button:active {
  text-decoration: none;
}
.button.contact{
  background-color: transparent;
  color: #4F9843;
  text-transform: uppercase;
  border: 2px solid #4F9843;
}
.button.contact:hover {
  background-color: #4F9843;
  color: #ffffff;
}
.logo{
  max-width: 250px;
}
/* Layout styling */
.container {
  padding: 0 15px;
}
.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}
.center {
  text-align: center;
}

#herobanner {
  background-color: #EEEEEE;
  padding: 20px 0;
  display: inline-block;
width: 100%;
}

#herobanner h1 {
  text-align: center; /* Centers text */
  margin: 0;
  padding: 0.67em 0;
}
#contact {
  background-color:#CCD4AE;
}
#workspace {
  background-color: #EEEEEE;
}
#workspace .row {
  padding-bottom: 25px; border-bottom: 1px solid #4a4a4a; }

  /* ==============================
  Medium devices (640px and larger)
  ================================= */
  @media only screen and (min-width: 640px) {

  header {
    text-align: unset;
      padding: 20px 0 13px;
  }
  nav {
  width: auto;
  float: right;
  margin-top: 4px;
}
}
  /* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}
